<html>
<head>
    <title>Microproject</title>
</head>
<body>
    <div class="container">
    <div class="main">
    <div class="head">
        <h1>Online Food Delivery Management System - Employee Database</h1>
    </div>
    <div class="sec">
    <div class="login">
        <form action="">
    <div>
        <h1>Login</h1>
    </div>
    <div><input type="number" placeholder="Enter ID"></div>
    <div><input type="text" placeholder="Enter Name"></div>
    <div><input type="number" placeholder="Enter Salary"></div>
    <div ><input type="time" placeholder="Enter Login Time"></div>
    <div><input type="time" placeholder="Enter Logout Time"></div>
    <div class="btn">
            <button class="green">Save</button>
            <button class="yellow">Update</button>
            <button class="red">Delete</button>
    </div>
    </form>
    </div>
    <div class="storage"><h1 id="data">Employee List</h1></div>
    </div>
    </div>
    </div>
</body>
</html>