<html>
<head>
    <title>Microproject</title>
</head>
<body>
    <div class="container">
    <div class="main">
    <div class="head">
        <h1>Online Food Delivery Management System - Employee Database</h1>
    </div>
    <div class="sec">
    <div class="login">
        <form action="">
    <div>
        <h1>Login</h1>
    </div>
    <div><input  type="number" name="id"      placeholder="Enter ID"          [(ngModel)]="id" ></div>
    <div><input  type="text"   name="name"    placeholder="Enter Name"        [(ngModel)]="name"></div>
    <div><input  type="number" name="salary"  placeholder="Enter Salary"      [(ngModel)]="salary"></div>
    <div ><input type="time"   name="timein"  placeholder="Enter Login Time"  [(ngModel)]="timein"></div>
    <div><input  type="time"   name="timeout" placeholder="Enter Logout Time" [(ngModel)]="timeout"></div>
    <div class="btn">
            <button class="green" (click)="display()">Save</button>
            <button class="yellow">Update</button>
            <button class="red">Delete</button>
            <button class="blue">Find</button>
            <button class="aqua">Find All</button>
    </div>
    </form>
    </div>
    <div class="storage" style="border: 2px;"><br>
        <h1 id="data">Employee List</h1>
    <table style="justify-content: center;display: flex;border-collapse: collapse;"border="1"width="90%" >
        <tr><th >Id</th><th>Name</th><th>Salary</th><th>LogIn</th><th>LogOut</th></tr><br>
            <tr><td>{{displayid}}</td><td>{{displayname}}</td><td>{{displaysalary}}</td><td>{{displaytimein}}</td><td>{{displaytimeout}}</td></tr>
        </table>
    </div>
    </div>
    </div>
    </div>

</body>
</html>