*
{
    margin: 0;
    padding: 0;
}
h1{
    background-color: aquamarine;
    border-radius: 25px;
    font-size: 39px;
}
body
{
    background-image: url("https://builtin.com/sites/www.builtin.com/files/food-delivery-companies.jpg");
}