<html>
    <head>
        <title>Registration page</title>
    </head>
    <body>
        <p>Create an Account</p>
        <form>
            Name : <input type="text" placeholder="Enter your Name"><br>
            Age : <input type="text" placeholder="Enter your Name"><br>
            Email Id : <input type="text" placeholder="Enter your Name"><br>
            Password : <input type="text" placeholder="Enter your Name"><br>
            Confirm passsword :<input type="text" placeholder="Enter your Name"><br>
            <button class="submit ">submit</button>
            <button class="cancel"> cancel</button>


        </form>
    </body>
</html>